<aside class="learn">
    <header>
        <h3>PHP</h3>
        <span class="source-links">
            <h5>Example</h5>
            <a href="https://github.com/tastejs/todomvc/tree/gh-pages/examples/backbone">Source</a>
            <h5>Design</h5>
            <a href="design/example-1.php">View</a>
            <h5>Dev (utils)</h5>
            <a href="dev/session-ver.php">session-view</a> <br />
            <a href="dev/session-limpar.php">session-clean</a>
        </span>
    </header>
    <hr />
    <blockquote class="quote speech-bubble">
        <p>PHP, which stands for "PHP: Hypertext Preprocessor" is a widely-used Open Source general-purpose scripting language that is especially suited for web development and can be embedded into HTML. Its syntax draws upon C, Java, and Perl, and is easy to learn. The main goal of the language is to allow web developers to write dynamically generated web pages quickly, but you can do much more with PHP.</p>
        <footer>
            <a href="http://php.net">php.net</a>
        </footer>
    </blockquote>
    <hr />
    <h4>Official Resources</h4>
    <ul>
        <li> <a href="http://php.net">php.net</a> </li>
        <li> <a href="http://www.phptherightway.com/">The Right Way</a> </li>
    </ul>
    <h4>Articles and Guides</h4>
    <ul>
        <li> <a href="http://defuria.com.br">devfuria.com.br</a> </li>
    </ul>
    <footer>
        <hr />
        <em>If you have other helpful links to share, or find any of the links above no longer work, please
            <a href="github.com/issues">let us know</a>.
        </em>
    </footer>
</aside>

